<!DOCTYPE html>
<html>
<head>
  <title>TalkingStick</title>
  <%= stylesheet_link_tag    "talking_stick/application", media: "all" %>
  <%= javascript_include_tag "talking_stick/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
